<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714483163332-pallfft92p4q60b6hsgintuaj6211u3l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714483163332-pallfft92p4q60b6hsgintuaj6211u3l</string>
	<key>API_KEY</key>
	<string>AIzaSyAs9VWX9uyXL9EXRFrwMkpR79ztbwTJIsc</string>
	<key>GCM_SENDER_ID</key>
	<string>714483163332</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Moonbeamer</string>
	<key>PROJECT_ID</key>
	<string>moonbeam-79dbe</string>
	<key>STORAGE_BUCKET</key>
	<string>moonbeam-79dbe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714483163332:ios:af8e87e8f2187d861be991</string>
</dict>
</plist>